%h3.text-center.mt-4.mb-4
  Activity
  %span.badge.bg-secondary
    = @activities.count

%ul.list-group
  - @activities.each do |a|
    %li.list-group-item
      = a.owner
      = 'did something like'
      = a.key
      = link_to a.trackable, a.trackable
