.jumbotron
  %h2
    .fas.fa-chalkboard
    \| 
    What do you want to learn today?
  = search_form_for @ransack_courses, as: :courses_search, url: courses_path, class: 'form d-flex mt-4' do |f|
    = f.search_field :title_or_short_description_cont, class: 'form-control', placeholder: 'Search', type: 'search', 'aria-label' => 'Search'
    = f.submit 'Submit', class: 'btn btn-sm btn-outline-dark', type: 'submit'

.card-group.mb-4
  .card
    .card-body.text-center
      %h1.card-title.fas.fa-graduation-cap
      %p.card-text
        = Course.count
        Online Courses
      %p.card-text
        Find your perfect course and start learning now!
  .card
    .card-body.text-center
      %h1.card-title.fas.fa-user-graduate
      %p.card-text
        = Course.distinct.count 
        teachers ready to teach. Find the perfect instructor for you.
  .card
    .card-body.text-center
      %h1.card-title.fas.fa-user-friends
      %p.card-text
        = User.count
        active users. Join them today and learn a new skill.
  .card
    .card-body.text-center
      %h1.card-title.far.fa-thumbs-up
      %p.card-text
        Get life-time access.
        Learn when you want, in your own time.


%hr
%h2.mb-4 Popular Courses
.card-columns
  = render partial: 'courses/course', collection: @courses
%hr
%h2.mb-4 Top Rated Courses
.card-columns
  = render partial: 'courses/course', collection: @courses
%hr
%h2.mb-4 Most recent courses
.card-columns
  = render partial: 'courses/course', collection: @latest_courses