%nav.navbar.navbar-expand-lg.navbar-light{:style => "background-color: #6c90ad;"}
  .container-fluid
    = link_to root_path, class: 'navbar-brand font-weight-bold font-italic' do
      %h2 BareCourses
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      - if user_signed_in?
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0.mr-auto
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?(root_path)}"}
            = link_to root_path, class: 'nav-link' do
              .fas.fa-home
              Home
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?(courses_path)}"}
            = link_to courses_path, class: 'nav-link' do
              .fas.fa-book-open
              Courses
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?(new_course_path)}"}
            = link_to new_course_path, class: 'nav-link' do
              .fas.fa-plus
              New Course
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?(users_path)}"}
            = link_to users_path, class: 'nav-link' do
              .fas.fa-users
              Users

        %ul.navbar-nav.ml-auto
          = search_form_for @ransack_courses, as: :courses_search, url: courses_path, class: 'form d-flex' do |f|
            .input-group
              = f.search_field :title_or_short_description_cont, class: 'form-control', placeholder: 'Search', type: 'search', 'aria-label' => 'Search'
              = f.button type: 'submit', class: 'btn btn-sm btn-dark' do
                .fas.fa-search
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user.email
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %li
                = link_to 'Edit Account', edit_user_registration_path, class: 'dropdown-item'
              %li
                = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
      - else
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0.mr-auto
          %li.nav-item
            = link_to 'Login', new_user_session_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Sign up', new_user_registration_path, class: 'nav-link'
